.u-section-1 .u-sheet-1 {
  min-height: 866px;
}

.u-section-1 .u-image-1 {
  height: 865px;
  width: 1342px;
  margin: 0 -101px;
}

.u-section-1 .u-text-1 {
  font-size: 0.625rem;
  margin: -427px 613px 0 456px;
}

.u-section-1 .u-text-2 {
  font-size: 0.625rem;
  margin: -12px 454px 0 615px;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  margin: 7px 586px 0 456px;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  margin: -43px 454px 0 588px;
}

.u-section-1 .u-text-5 {
  font-size: 0.625rem;
  margin: 75px 613px 0 456px;
}

.u-section-1 .u-text-6 {
  font-size: 0.625rem;
  margin: 46px 613px 0 456px;
}

.u-section-1 .u-text-7 {
  font-size: 0.625rem;
  margin: 46px 613px 0 456px;
}

.u-section-1 .u-text-8 {
  font-size: 0.625rem;
  margin: -70px 454px 0 615px;
}

.u-section-1 .u-text-9 {
  font-size: 0.625rem;
  margin: 46px 454px 0 615px;
}

.u-section-1 .u-text-10 {
  font-size: 0.75rem;
  margin: -109px 613px 0 456px;
}

.u-section-1 .u-text-11 {
  font-size: 0.75rem;
  margin: 44px 613px 0 456px;
}

.u-section-1 .u-text-12 {
  font-size: 0.75rem;
  margin: 30px 613px 0 456px;
}

.u-section-1 .u-text-13 {
  font-size: 0.75rem;
  margin: -14px 454px 0 617px;
}

.u-section-1 .u-text-14 {
  font-size: 0.75rem;
  margin: -73px 454px 0 602px;
}

.u-section-1 .u-image-2 {
  width: 200px;
  height: 200px;
  margin: -457px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -47px;
    margin-left: -201px;
    margin-right: -201px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -438px;
    margin-right: 514px;
    margin-left: 355px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 355px;
    margin-left: 514px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 486px;
    margin-left: 356px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 355px;
    margin-left: 502px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 79px;
    margin-right: 513px;
    margin-left: 356px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 29px;
    margin-right: 514px;
    margin-left: 355px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 514px;
    margin-left: 355px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 355px;
    margin-left: 514px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 355px;
    margin-left: 514px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -92px;
    margin-right: 513px;
    margin-left: 356px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 27px;
    margin-right: 514px;
    margin-left: 355px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 514px;
    margin-left: 355px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: 355px;
    margin-left: 516px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: 355px;
    margin-left: 502px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -427px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1331px;
  }

  .u-section-1 .u-image-1 {
    width: 1529px;
    height: 1105px;
    margin-left: -404px;
    margin-right: -404px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -552px;
    margin-right: 421px;
    margin-left: 228px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 228px;
    margin-left: 421px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
    margin-right: 394px;
    margin-left: 228px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -45px;
    margin-right: 228px;
    margin-left: 409px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 100px;
    margin-right: 421px;
    margin-left: 228px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 30px;
    margin-right: 421px;
    margin-left: 228px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 421px;
    margin-left: 228px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 228px;
    margin-left: 421px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 228px;
    margin-left: 421px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 421px;
    margin-left: 228px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 421px;
    margin-left: 228px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 421px;
    margin-left: 228px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 228px;
    margin-left: 423px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -74px;
    margin-right: 228px;
    margin-left: 409px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -486px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1694px;
  }

  .u-section-1 .u-image-1 {
    width: 1528px;
    height: 1198px;
    margin-left: -494px;
    margin-right: -494px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -599px;
    margin-right: 331px;
    margin-left: 138px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -14px;
    margin-right: 138px;
    margin-left: 331px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 12px;
    margin-right: 304px;
    margin-left: 138px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 138px;
    margin-left: 319px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 331px;
    margin-left: 138px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 331px;
    margin-left: 138px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 331px;
    margin-left: 138px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 138px;
    margin-left: 331px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 138px;
    margin-left: 331px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 331px;
    margin-left: 138px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 331px;
    margin-left: 138px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 331px;
    margin-left: 138px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 138px;
    margin-left: 333px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 138px;
    margin-left: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1294px;
  }

  .u-section-1 .u-image-1 {
    width: 1574px;
    height: 1562px;
    margin-top: -267px;
    margin-left: -617px;
    margin-right: -617px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -772px;
    margin-right: 231px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -12px;
    margin-right: 38px;
    margin-left: 231px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
    margin-right: 204px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 38px;
    margin-left: 219px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 231px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 231px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 231px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 38px;
    margin-left: 231px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 38px;
    margin-left: 231px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 231px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 231px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 231px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 38px;
    margin-left: 233px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 38px;
    margin-left: 219px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -495px;
  }
}